.form-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.check-box-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto auto auto auto;
}

.registration-submit-btn {
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  margin: auto auto auto;
  background: var(--primary-color);
  height: 35px;
  cursor: pointer;
  width: 30%;
}

.register-form .form-group {
  display: flex;
  flex-direction: column;
}

.reg-img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: #eff3ff;
  height: 100vh;
}

.register-form .form-row {
  display: contents;
}

.register-form .form-group label {
  margin-bottom: 5px;
}

.register-form .form-group input,
.register-form .form-group button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 4px;
}

.register-form button[type="submit"] {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .register-form {
    grid-template-columns: 1fr;
  }

  .register-form button[type="submit"] {
    grid-column: span 1;
  }

  .reg-img-sec {
    display: none;
  }
}

.register-container h1 {
  text-align: center;
}
